-ip==21.3.1
click==8.1.2
colorama==0.4.4
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask==2.1.1
greenlet==1.1.2
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
pip==22.0.4
psycopg2==2.9.3
setuptools==62.1.0
SQLAlchemy==1.4.35
Werkzeug==2.1.1
wheel==0.37.1
WTForms==3.0.1
