<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Python</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="../static/css/beginstyle.css">
</head>
<body>
    <header class="header_bg">
        <div class="wrapper">
            <div class="header_container">
                <div class="logo">
                    <a href="#about">
                        <h1 class="title">Python</h1>
                        <div class="subtitle">Учебник и справочник</div>
                    </a>
                </div>
                <nav class="navigation">
                    <ul class="menu">
                        <li class="menu_item"><a href="#" class="menu_link">О сайте</a></li>
                        <li class="menu_item"><a href="#" class="menu_link_active">Новичку</a></li>
                        <li class="menu_item"><a href="#" class="menu_link">Продвинутый</a></li>
                        <li class="menu_item"><a href="#" class="menu_link">Профи</a></li>
                        <li class="menu_item"><a href="#" class="menu_link">Личный кабинет</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="learn_tree">
        <div class="wrapper">
            <div class="tree_container">
                <ul class="main_tree">
                    <li class="tree_first">Введение</li>
                    <ul>
                        <li class="tree_second">Как появился язык Python</li>
                        <li class="tree_second">Интересные факты</li>
                        <li class="tree_second">Редакторы кода</li>
                    </ul>
                    <li class="tree_first">Ввод-вывод данных</li>
                    <ul>
                        <li class="tree_second">Команды print и input</li>
                        <li class="tree_second">Команды sep и end</li>
                        <li class="tree_second">Целочисленная арифметика</li>
                    </ul>
                    <li class="tree_first">Условия</li>
                    <ul>
                        <li class="tree_second">Выбор из двух</li>
                        <li class="tree_second">Логические операции</li>
                        <li class="tree_second">Вложенные и каскадные условия</li>
                    </ul>
                </ul>
            </div>
        </div> 
    </section>
    <footer class="footer">
        <div>Это footer</div>
    </footer>
</body>
</body>
</html>