<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Python</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <header>
            <div class="wrapper">
                <div class="header_container">
                    <div class="logo">
                        <a href="#about">
                            <h1 class="title">Python</h1>
                            <div class="subtitle">Учебник и справочник</div>
                        </a>
                    </div>
                    <nav class="navigation">
                        <ul class="menu">
                            <li class="menu_item"><a href="#" class="menu_link">О сайте</a></li>
                            <li class="menu_item"><a href="#" class="menu_link">Новичку</a></li>
                            <li class="menu_item"><a href="#" class="menu_link">Продвинутый</a></li>
                            <li class="menu_item"><a href="#" class="menu_link">Профи</a></li>
                            <li class="menu_item"><a href="#" class="menu_link">Личный кабинет</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section class="promo">
            <div class="wrapper">
                <div class="promo_banner">
                    <img src="../img/promo/python.png" alt="Promo" class="promo_img">
                </div>
            </div>
        </section>
        <section class="about_us">
            <div class="wrapper">
                <h1>Изучайте Python вместе с нами</h1>
                <p class="about_us_text"> 
                    "Поколение Python: курс для начинающих" знакомит школьников и всех, кому это интересно, с программированием. 

                    Рассказывает об основных типах данных, конструкциях и принципах структурного программирования, используя версию языка Python ветки 3.x.

                    Выбран Python за ясность кода и быстроту реализации на нем программ.

                    Цель курса - формирование базовых понятий структурного программирования.

                    В нем 8 модулей с теоретическими и практическими материалами и заданиями.

                    Модули курса:

                    Ввод-вывод данных
                    Условный оператор
                    Типы данных
                    Циклы for и while
                    Строковый тип данных
                    Списки
                    Функции
                    Работа над мини-проектом
                    Решения проверяет автоматическая система, поэтому обратную связь вы получите быстро. Если у вас возникнут вопросы, команда курса даст советы и подсказки. Кроме того, проблемы можно обсуждать с однокурсниками в комментариях к задачам.
                </p>
            </div>
        </section>
        <footer class="footer">
            <div>Это footer</div>
        </footer>
</body>
</html>